/**
Mise en page avec display: grid
*/

.site__entete {
    grid-area: header;
    padding: 1rem clamp(1rem, 3vw, 20rem);
    // background-color: var(--noir);
    // background-color: transparent;
    background-color: rgba(0, 0, 0, 0.1);
}

.site__main {
    grid-area: main;
    overflow: hidden;
    background-color: var(--noir);
    border-radius: 8px;
    /* Resolves issue with <pre> elements forcing full width. */
}

.site__footer {
    grid-area: footer;
    background-color: var(--noir);
}

.site__aside {
    grid-area: aside;
    background-color: var(--noir);
    margin-left: 40px;

    ul {
        padding: 0;
        list-style-type: none;
    }

    li a {
        color: var(--neonYellow);
    }
}

/* body ou un conteneur globale */
.site {
    display: grid;
    overflow-x: hidden;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "aside"
        "main"
        "footer";
    row-gap: 50px;

    @media screen and (min-width: 1000px) {
        grid-template-columns: 20vw auto;
        grid-template-areas:
            "header header"
            "aside main"
            "footer footer";
    }
}

.no-aside {
    grid-template-areas:
        "header"
        "main"
        "footer";
    // row-gap: 50px;

    @media screen and (min-width: 1000px) {
        grid-template-columns: auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }
}