.blocflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.blocflex__articles {
    margin: 10px;
    padding: 5px;
    border-radius: var(--border-radius);
    flex: 1 0 300px; // grow/shrink/base
    box-shadow: 1px 5px 10px 0px rgba(255, 16, 240, 0.7);

    h5 a {
        color: var(--neonGreen);
        font-family: monospace;
        text-decoration: none;
        text-transform: uppercase;

    }

    h6 {
        color: var(--neonYellow);
        font-family: monospace;
        font-size: 14px;
        margin-left: 22px;
    }

    h5 a:hover {
        color: var(--neonPink);
    }

    h5 p {
        color: var(--neonOrange);
        font-family: monospace;
        text-align: left;
    }

    h3 a {
        text-align: center;
        color: var(--neonPink);
        text-decoration: none;
        padding: 10px;
        text-align: center;
        font-family: monospace;
    }

    h3 a:hover {
        color: var(--neonOrange);
        text-decoration: underline;
    }

    h2 {
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 16px;

    }

    p {
        text-align: left;
        align-items: center;
        font-size: 16px;
        margin-left: 25px;
        margin-right: 25px;
        color: var(--neonOrange);
    }

    h2 a {

        text-decoration: none;
        margin-left: 25px;
        margin-right: 25px;
        text-align: left;
        font-family: monospace;
        color: var(--neonOrange);
    }

    .blocflex__galerie {
        flex: 1 0 100%;
    }
}

h2 a:hover {
    color: var(--hotpink);
    text-decoration: underline;
}


// .blocflex__articles:hover {
//     box-shadow: 4px -5px 29px 27px rgba(255, 255, 51, 0.32);
// }

.blocflex__articles:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 20px 2px rgba(255, 16, 240, 0.7);
}