.site__entete {}

.logomenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.menu-entete-container {

    background-color: black;
    margin-left: auto;
    padding: 20px;
    flex: 1;

    .menu {
        //ul
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;

        list-style: none;
        text-transform: uppercase;

        .menu-item {
            //li
            flex: 1 0 50px;

            a {
                text-decoration: none;
                color: white;
                font-size: 20px;
                padding: 3px 5px;
            }

            a:hover {
                color: hotpink;
                text-decoration: underline;
            }
        }
    }
}