.menu-notes-wp-container,
.menu-cours-container {
    //nav

    .menu {
        // ul
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media screen and (min-width : 1000px) {
            flex-direction: column;
        }

        .menu-item {
            // li
            list-style-type: none;
            margin-left: 20px;
            margin-bottom: 10px;

            a {
                display: flex;
                align-items: center;

                .cours__sigle {
                    padding: 3px;

                    @media screen and (min-width) {
                        padding: 1px;

                    }
                }

                .cours__titre {
                    display: none;

                    @media screen and (min-width : 1000px) {
                        display: block;
                    }
                }
            }
        }
    }

}