:root {

    --yellow: #ebc80d;
    --pink: #9a2248;
    --brown: #472a28;
    --geige: #c5bbb7;
    --orange: #c0762b;


    --blanc: #ffffff;
    --noir: black;
    --ligthGray: rgb(205, 206, 211);
    --neonGreen: rgb(173, 255, 47);
    --neonYellow: #ffff33;
    --neonPink: #ff10f0;
    --neonOrange: rgb(255, 95, 31);
    --hotpink: #ff69b4;
    --hp-fonce: #d10f70;

    --border-radius: 5px;


}