:root {
    --couleur-blanc: #f6feff;
    --couleur-noir: black;
    --yellow: #ebc80d;
    --pink: #9a2248;
    --brown: #472a28;
    --geige: #c5bbb7;
    --orange: #c0762b;
    --hotpink: hotpink;
    --hp-fonce: rgb(239, 22, 130);

    --border-radius: 5px;


}