.markdown {
    h1 {
        font-size: 20px;
        color: var(--neonGreen);
        font-family: monospace;
        text-transform: uppercase;

    }

    h2 {
        color: var(--neonGreen);
        font-family: monospace;

    }

    h3 {
        font-family: monospace;
        text-transform: uppercase;
        font-size: 16px;
        color: var(--neonYellow);
    }


    h5 {
        font-family: monospace;
        font-size: 18px;
        text-transform: uppercase;

    }

    ul {
        color: var(--neonPink);
        font-family: monospace;
        font-size: 1.2em;
        list-style: none;

        li {
            a {
                color: var(--neonPink);
                font-family: monospace;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1em;

            }

            a:hover {
                color: var(--neonOrange);

            }

        }
    }

    a {
        color: var(--neonPink);
        font-family: monospace;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.55em;

    }

    a:hover {
        color: var(--neonOrange);

    }

    p {
        text-align: left;
        color: var(--neonOrange);
        font-size: 1.25em;
        font-family: monospace;

        .couleur_orange {
            color: var(--neonOrange);
        }
    }

    strong,
    b {
        font-weight: 700;
    }

    em,
    i {
        font-style: italic;
    }

    code {
        font-size: 14px;
        color: var(--neonGreen);
        font-family: monospace;
    }


    blockquote p {
        font-style: italic;
        color: var(--neonYellow);


        hr {
            color: var(--neonOrange);
        }
    }
}